src/main/mule/cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d063f387-3999-4873-8d55-30dc8df5771a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicdFlow" doc:id="62a92ac2-3fcf-45bb-8037-cf5c1be7a582" >
		<http:listener doc:name="Listener" doc:id="7847db30-332f-4fa3-88ba-c8b4a8a97186" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="1c11ed77-3c35-4709-b523-5b6bbdccd0c4" />
		<ee:transform doc:name="Transform Message" doc:id="9066304b-83d2-452b-b6cf-a49a1e6e2278" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"welcome"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="23584db3-48e6-4a54-bacf-bd9267b2832b" message="#[payload]"/>
	</flow>
</mule>
